<!DOCTYPE html>
<html>
<head>
    <%- include partials/head.ejs %>
</head>

  <body>
    <h1>OVO JE TEST!!!!</h1>
    <h3><%= tekst %></h3>

      <%- include partials/footer.ejs %>
  </body>
</html>
